body{
  height: 100vh;
  background: #ffffff;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#error-page{
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
#error-page .content{
  max-width: 600px;
  text-align: center;
}
.content h2.header{
  font-size: 18vw;
  line-height: 1em;
  position: relative;
  font-weight: 900;
  text-align: center;
}

.content h4{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  position: relative;
  text-align: center;
}

.content p{
  font-size: 1.2em;
  color: #0d0d0d;
  text-align: center;
}
 