.table__container{
     padding: 10px 5px;
     overflow-x: auto;
     width: auto;
     background-color: white;
     border-radius: 20px;

}

.table{
     padding: 10px;
}
.sortable__table th{
     cursor: pointer;
}
.table__titile{
     color: #003366;
     font-size: 35px;
     font-weight: 700;
     text-align: left;
     padding: 10px;
}
.sortable__table .th-sort-asc::after{
     content: "\25b4";
}
.sortable__table .th-sort-desc::after{
     content: "\25be";
}
.sortable__table .th-sort-asc::after,.sortable__table .th-sort-desc::after{
     margin-left: 5px;
}
.sortable__table .th-sort-asc, .sortable__table .th-sort-desc{
     background: 
     rgba(0, 0, 0, 0.1);
}

.table__row{
     padding: 20px 15px;
     border-bottom: 1px solid #f9f9f9;
}
.table__column{
     padding: 20px 15px;
     font-size: 12px;
     font-weight: 600;
}
.table__thead{
     background-color: #01162c;
}
.table__header{
     font-size: 14px;
     color: white;
     padding-left: 0px auto;
     text-align: center;
}


.table__button{
     background-color: transparent;
     color: #ffffff;
     padding: 5px 25px;
     margin: 0px 15px;
     width: 100px;
     border-radius: 50px;
     border: 1px solid #0978e7;
     color: #0978e7;
     display: flex;
     justify-content: center;
     align-items: center;
   
   }
   .table__button:focus{
        outline: none;
   }
.table__button span .table-button-icon{
     color:#0978e7 !important;
     stroke: #0978e7 !important;
     padding: 0px 2px;
}
   
.table__button:hover {
     color: goldenrod ;
     border: 1px solid goldenrod;
     transition: all 250ms cubic-bezier(0.25, 0.45, 0.45, 0.94) 0s; 
}
.table__button:hover span .table-button-icon{
     color: goldenrod !important;
     stroke: goldenrod !important;
}

   .button__group{
        display: flex;
        justify-content: center;
        align-items: center;
   }

   /* Datatable.js custom styles */
   label{
        color: #003366 !important;
        font-size: 16px;
        font-weight: 700;
   }
   .dataTables_length select{
        padding: 10px 20px;
   }
   .dataTables_length select:focus,.dataTables_filter input:focus{
        outline: none;
   }
   .dataTables_filter input{
          margin-bottom: 10px !important;
   }
   .my_class::before,.my_class::after{
        color: white !important;
        opacity: 1 !important;
   }