.csv{
    background-color: #01162c;
  color: #ffffff;
  padding: 10px 25px;
  margin: 0px 15px;
  width: 180px;
  border-radius: 50px;
  border: 1px solid #01162c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.csv:hover{
    background-color: goldenrod;
    border: 1px solid goldenrod;
    transition: all 250ms cubic-bezier(0.25, 0.45, 0.45, 0.94) 0s;
    text-decoration: none;
    cursor: pointer;
}

.th{
    
    padding:15px 30px;
    border: 1px solid #003366;
}

.tr{
    padding:15px 30px;
    border: 1px solid #003366;
}

.csvButton span{
    padding: 0px 6px;
}