  ul {
  list-style: none;
  margin: 0;
  padding: 0;
} 

 a {
  color: var(--text-color);
  text-decoration: none;;
} 

 /*<li> */
   .nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}  

.hi{
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: green !important;
  border-radius: 50%;
  padding: 5px;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
} 

/*Icon Button */
  .icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #E5F2FF;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
} 

 .icon-button:hover {
  filter: brightness(1.2);
  text-decoration: none;
} 

 .icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}  

/* Dropdown Menu */
    .dropdown{
    position: absolute;
    top: 78px;
    width: 300px;
    transform: translateX(-45%);
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 8px;
    z-index: 1;
    background-color: #ffffff;
    overflow: hidden;
    transition: height var(--speed) ease;
    /*background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    */
  } 

  .menu {
    width: 100%;
    /* padding: 1rem 0rem; */
  } 
  
   .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    /* border-radius: var(--border-radius); */
    transition: background var(--speed);
    padding: 0.5rem;
    background: #ffffff;
    /* border-radius: 8px 8px 0px 0px; */
  }  
  
   .menu-item .icon-button {
    margin-right: 0.5rem;
  } 
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
   .menu-item:hover {
    background-color: #003366;
    color: #ffffff;
    text-decoration: none;
  }
  
  .icon-right {
    margin-left: auto;
  } 
   
  /* CSSTransition classes */ 
      .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  } 
   .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  } 
   .menu-primary-exit {
    position: absolute;
  } 
   .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  } 
  
   
 