
.table thead tr{
    background-color: #003366;
    color: #ffffff;
    border: 1px solid gray;
}
.table thead tr th{
    padding: 20px 10px;
  
}


/*button style*/
.table__button{
  border: none;
  background-color: #003366;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid #003366;
}
.table__button:hover{
  color: #003366;
  background-color: gold;
  border: 1px solid #003366;
}
/*pagination styles*/


  .pagination {
    margin-top: 36px;
    margin-left: -40px;
    display: flex;
    list-style: none;
    outline: none;
   }
    
   .pagination:active a {
    background-color: #ffffff;
    color: #003366;
   }
   .pagination:active a:hover{
    color: #003366;
    background-color: gold;
   }
    
   .pagination li a {
    border: 1px solid #003366;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
   }
    
   .pagination li a, .pagination>li>span {
    color: #ffffff;
    background-color: #003366;
   }

   .pagination li a:hover{
    color: #003366;
    background-color: gold;
    text-decoration: none;
   }

   .paginate_select{
     margin-left: 5px;
     height: 7px;
   }
